@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Clash Display', sans-serif;
    text-align: center;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  
  

  .main{ 
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    
  }

  .header{ 
    width: 100%;
    height: auto;
    top: 0;
  }
  
  h1 {
    color: #333;
  }
  
  #todo-container {
    margin: 20px 0;
    display: grid;
    place-items: center;
  }
  
  #add-button {
    cursor: pointer;
    position: relative;
    z-index: 1;
    border: none;
    background-color: transparent;
  }
  
  .modal {
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(5px);
  }

  
  
  .modal-content {
    background-color: #fefefe;
    padding: 60px;
    width: 300px;
    border: none;
    border-radius: 32px;    
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    transition: 500ms;
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  #add-todo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.5rem;
    padding: 5px 10px;
    height: 5.23556rem;
    border-radius:1.25rem;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    font-family: 'Clash Display', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;

  }
  

  #todo-list {
    list-style-type: none;
    padding: 0;
  }

  #todo-input{
    font-family: 'Clash Display', sans-serif; 
    padding: 1.5rem 1rem ;
    border-radius: 1.25rem ;
    border: 1px #000 solid;
  }

  #todo-input:focus{ 
    outline: 0;
    border: 1px solid #000;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
  }
  
  .topic-planos {
    background-color: #B7F7D8;
  }
  
  .topic-trabalho {
    background-color: #F7B7B7;
  }
  
  .topic-afazeres {
    background-color: #F7F0B7;
  }

  .select-section{ 
    font-family: '';
    display: grid;
    place-items: center;
    width: auto ;
    overflow: hidden;
    border-radius: 1.25rem;
    border: 1px solid #000;
    background-color: transparent;
    font-family: 'Clash Display', sans-serif;

  }

  #topic-select{
    font-family: 'Clash Display', sans-serif;
    font-weight: 500;
    border: none;
    outline: none;
    -webkit-appearance: none; /* Remover a aparência padrão */
    -moz-appearance: none;
    transition: 500ms;
    cursor: pointer;

  }

  option:hover{ 
    background-color: transparent;
  }


  .select-section select {
    background: url(img/Arrow\ 2.png) no-repeat transparent;
    background-size: auto;
    
    /* Imagem de fundo (Seta) */
    background-position: 90% center;
    /*Posição da imagem do background*/
    width: 100%;
    /* Tamanho do select, maior que o tamanho da div "div-select" */
    height: 70px;
    /* altura do select, importante para que tenha a mesma altura em todo os navegadores */
    /* Fonte do Select */
    font-size: 18px;
    /* Tamanho da Fonte */
    padding: 13px 3rem 13px 2rem;
    /* Configurações de padding para posicionar o texto no campo */
    color: #000000;
    /* Cor da Fonte */
    text-overflow: "";
}

/* Remove seta padrão do FireFox */
.select-section select::-ms-expand {
    display: none;
}
/* Remove seta padrão do IE*/

.modal-content {
  display: grid;
  gap: 1rem;
} 

.title-modal{ 
  font-size: 30px;
  margin-left: 1.5rem;
  font-weight: 400;
  text-align: left;
  height: inherit;
}


.todo-item{ 
  display: grid;
  gap: 2rem;
  margin: 1rem 15rem;
  margin-bottom: 2rem;
  padding: 5rem;
  text-align: start;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.22);
  border-radius: 2.4375rem;
  flex-shrink: 0;
  font-family: 'Montserrat', sans-serif;
}

.topic-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}



.delete-button {
  gap: 6.5rem;
  width: 8rem;
  height: 3rem;
  border-radius: 1.25rem ;
  border: none;
  display: grid;
  place-items: center;
  background-color: #0000004a;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: 1s;
}

.delete-button:hover {

  background-color: #0000007f;

}

.option-select:hover{ 
  background-color: transparent;
}


.option-select{ 
  width: 500px;
}




  @media only screen and (max-width: 420px) {

    #todo-container {
        margin: 20px 0;
        display: grid;
        place-items: center;
      }

      .modal-content {
        display: grid;
        gap: 1rem;
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        width: 300px;
        height: 60%;
        padding: 3rem auto;
      }
    
      .title-modal{ 
        font-size: 30px;
        margin-left: 1.5rem;
        font-weight: 400;
        text-align: left;
        height: inherit;
      }



      #topic-select:focus{ 
     
      }
      .select-section select {
        background: url(assets/img/add-main-icon.png) no-repeat transparent;
        
        /* Imagem de fundo (Seta) */
        background-position: 90% center;
        /*Posição da imagem do background*/
        width: 270px;
        /* Tamanho do select, maior que o tamanho da div "div-select" */
        height: 80px;
        /* altura do select, importante para que tenha a mesma altura em todo os navegadores */
        font-family: Arial, Helvetica, sans-serif;
        /* Fonte do Select */
        font-size: 18px;
        /* Tamanho da Fonte *
        /* Configurações de padding para posicionar o texto no campo */
        color: #000000;
        /* Cor da Fonte */
        text-indent: 0.01px;
        /* Remove seta padrão do FireFox */
        text-overflow: "";
    }
    
    /* Remove seta padrão do FireFox */
    .select-section select::-ms-expand {
        display: none;
    }
    /* Remove seta padrão do IE*/


    .todo-item {
     margin: 4rem 1rem;
      padding: 3rem;

   

  }

  #add-button{ 
    position: fixed ;
    bottom: 1.5rem;
    opacity: 100%;
  }

  #todo-container{
    width: 100%;
    height: 3.5rem; 
    margin: 0;
    bottom: 0;
    position: fixed;
    background-color: #fff;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
  }

}
  


.nice-select {
  height: 22px; /* altura do select */
  line-height: 22px; /* este valor deve ser o mesmo acima */
  border: solid 1px red; /* cor da borda do select*/
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}
.nice-select:hover {
  border-color: orange; /* cor da borda do select ao passar o mouse */
}
.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: blue; /* cor da borda quando o select estiver aberto */
}
.nice-select:after {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px;
}
.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}
.nice-select.disabled {
  border-color: #000;
  color: #999;
  pointer-events: none;
}
.nice-select.disabled:after {
  border-color: #000;
}
.nice-select.wide {
  width: 100%;
}
.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}
.nice-select.right {
  float: right;
}
.nice-select.right .list {
  left: auto;
  right: 0;
}
.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}
.nice-select.small:after {
  height: 4px;
  width: 4px;
}
.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}
.nice-select .list {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 1); /* cor da borda dos options em RGB */
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}
.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 22px; /* altura das options */
  min-height: 22px; /* este valor deve ser o mesmo do acima */
  list-style: none;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: green; /* corde fundo da option selecionada e ao passar o mouse */
  color: red; /* cor da option ao passar o mouse e do item selecionado*/
}
.nice-select .option.selected {
  font-weight: bold;
}
.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}
.no-csspointerevents .nice-select .list {
  display: none;
}
.no-csspointerevents .nice-select.open .list {
  display: block;
}