*, 
*:before, 
*:after { 
    padding: 0px;
    margin: 0px;
}

a{ 
    text-decoration: none;
}

body{ 
    font-family: 'Clash Display', sans-serif;
}
section{ 
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-icon{ 
    cursor: pointer;
}

main{ 
    width: 60%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
}

header{ 
    width: 100%;
    height: 5rem;
    display: grid;
    place-items: center;
    position: absolute;
}

.todolist-h1{ 
    font-size: 4em;
}

.sub-main{ 
font-size: 1.3em;
width: 60%;
}

.btn{ 
width: 20rem;
height: 4rem;
font-size: 1rem;
font-family: 'Clash Display', sans-serif;
border-radius: 50px;
border: 1px solid;
display: grid;
grid-template-columns: auto auto;
place-items: center;
background-color: transparent;
cursor: pointer;
transition: 500ms; 
}

.btn:hover{ 
    background-color:#000 ;
    color: #fff;
    filter:grayscale(1);
}

.custom-loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#000000 94%,#0000) top/4px 4px no-repeat,
      conic-gradient(#0000 30%,#000000);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
    animation:s3 2s infinite linear;
  }
  
  @keyframes s3{ 
    100%{transform: rotate(1turn)}
  }

.green{ 
    color: #107C07;
}
.red{ 
    color: #FF2E2E;
}
.blue{ 
    color: #2E5CFF;
}
.orange{ 
    color: #FF9F2E;
}


